<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Form</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <link rel="stylesheet" href="/style.css" type="text/css">
        <script src="/index.js"></script>
    </head>

    <body class="m-4">
        <div class="card position-absolute top-0 end-0">
            <% if (user !== 'You are not logged in') { %>
            <div id="linuser"><%= user %> </div>
            <% } %>
        </div><br>

        <nav class="nav nav-pills nav-fill">
            <a href="/home" class="nav-link">Home</a>
            <a href="/" class="nav-link">All trains</a>
            <a href="/myreservations" class="nav-link">My reservations</a>
            <% if (admin === 1) { %>
                <a href="/admin" class="nav-link active">New train</a>
            <% } else { %>
                <a href="/admin" class="nav-link disabled" tabindex="-1" aria-disabled="true">New train</a>
            <% } %>
            <% if (user !== 'You are not logged in') { %>
                <a class="btn btn-outline-secondary btn-sm" href="/logout" role="button">Logout <i class="bi bi-box-arrow-right"></i></a><br>
            <% }  else { %>
                <a class="btn btn-outline-secondary btn-sm" href="/login" role="button"><i class="bi bi-box-arrow-in-right"></i> Login</a><br>
            <% } %>
        </nav><br>

        <h1>Admin page</h1>

        <form class="row g-3" id="form" action="/admin/submit" method="POST">
            <div class="col-md-5">
                <label class="form-label" for="from">From:</label>
                <input class="form-control" type="text" id="from" name="source" pattern="^[A-Z][a-z]+">
            </div><br>

            <div class="col-md-5">
                <label class="form-label" for="to">To:</label>
                <input class="form-control" type="text" id="to" name="destination" pattern="^[A-Z][a-z]+">
            </div><br>

            <div class="col-md-3">
                <label class="form-label" for="day">Day:</label>
                <select class="form-select" name="day" id="day">
                    <option value="Mon" selected>Monday</option>
                    <option value="Tue">Tuesday</option>
                    <option value="Wed">Wednesday</option>
                    <option value="Thu">Thursday</option>
                    <option value="Fri">Friday</option>
                    <option value="Sat">Saturday</option>
                    <option value="Sun">Sunday</option>
                </select>
            </div>

            <div class="col-md-2">
                <label class="form-label" for="time">Time:</label>
                <input class="form-control timepicker" type="time" id="time" name="time">
            </div>

            <div class="col-md-5">
                <label class="form-label" for="type">Type:</label>
                <select class="form-select" name="type" id="type">
                    <option value="PT" selected>Passenger Train</option>
                    <option value="LDT">Long-Distance Train</option>
                    <option value="HST">High-Speed Train</option>
                    <option value="ICT">Inter-City Train</option>
                    <option value="RT">Regional Train</option>
                    <option value="SDT">Short-Distance Train</option>
                    <option value="CT">Commuter Train</option>
                </select>
            </div>
            
            <div class="col-md-3">
                <label class="form-label" for="size">Size:</label>
                <input class="form-control" type="number" id="size" name="size" min="0">
            </div>

            <div class="col-md-2">
                <label class="form-label" for="price">Price:</label>
                <input class="form-control" type="number" id="price" name="price" min="0">
            </div>

            <div class="col-12">
                <input class="btn btn-primary" type="submit" id="submitB" value="Submit">
            </div>
        </form><br>

        <div id="delresp"></div>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            <% items.forEach((item) => { %>
              <div class="col">
                <div class="card" style="width: 25rem;">
                  <div class="card-header">Train <%= item.trainId %></div>
          
                  <div class="card-body">
                    <h5 class="card-title"><%= item.source %> - <%= item.destination %></h5>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Departure day: <%= item.day %></li>
                      <li class="list-group-item">Departure time: <%= item.time %></li>
                      <li class="list-group-item">Train type: <%= item.type %></li>
                      <li class="list-group-item">Seats: <%= item.size %></li>
                      <li class="list-group-item" id="price<%= item.trainId %>" hidden>Price: <%= item.price %> </li>
                      <li class="list-group-item" id="error<%= item.trainId %>"></li>
                    </ul>
          
                    <button type="button" class="btn btn-secondary btn-sm" id="del<%= item.trainId %>" onclick="delTrain(`<%= item.trainId %>`)">Delete train</button>
                  </div>
                </div>
              </div>
            <% }) %>
          </div>
      
          <% if (items.length === 0) { %>
          <div>No trains found</div>
          <% } %>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>