<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Vonattársaság</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <link rel="stylesheet" href="/style.css" type="text/css">
    </head>

    <body class="m-4">
        <div class="position-absolute top-0 end-0">
            <% if (user !== 'You are not logged in') { %>
            <div id="linuser"><%= user %> </div>
            <% } %>
        </div><br>

        <nav class="nav nav-pills nav-fill">
            <a href="/home" class="nav-link active">Home</a>
            <a href="/" class="nav-link">All trains</a>
            <a href="/myreservations" class="nav-link">My reservations</a>
            <% if (admin === 1) { %>
                <a href="/admin" class="nav-link">New train</a>
            <% } else { %>
                <a href="/admin" class="nav-link disabled" tabindex="-1" aria-disabled="true">New train</a>
            <% } %>
            <% if (user !== 'You are not logged in') { %>
                <a class="btn btn-outline-secondary btn-sm" href="/logout" role="button">Logout <i class="bi bi-box-arrow-right"></i></a><br>
            <% }  else { %>
                <a class="btn btn-outline-secondary btn-sm" href="/login" role="button"><i class="bi bi-box-arrow-in-right"></i> Login</a><br>
            <% } %>
        </nav><br><br>

        <br><h2>Welcome to Never Late Railways...</h2><br><br>

        <div class="d-flex justify-content-center row">
            <div class="col-md-8">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="/images/train1.jpg" class="d-block w-100" alt="train1">
                      </div>
                      <div class="carousel-item">
                        <img src="/images/train2.webp" class="d-block w-100" alt="train2">
                      </div>
                      <div class="carousel-item">
                        <img src="/images/train3.jpg" class="d-block w-100" alt="train3">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div><br>

        <footer class="blockquote-footer position-absolute bottom-0 start-0">
          <div>Made by: Brem Botond</div>
          <div>Email: botond.brem@stud.ubbcluj.ro</div>
          <div>Address: Cluj, 40000, Romania</div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>