<!DOCTYPE html>
<html lang="hu">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <script src="login.js"></script>
        <link rel="stylesheet" href="/style.css" type="text/css">
    </head>

    <body class="row m-4">
        <div class="col">
            <h1>Login to access</h1>
            <form id="login" action="/login" method="POST">
                <div class="col-xl-3">
                    <label for="userName">Username:</label><br>
                    <input type="text" id="userName" name="userName">
                </div><br>
            
                <div class="col-xl-3">
                    <label for="password">Password:</label><br>
                    <input type="password" id="password" name="password">
                </div><br>

                <input role="button" class="btn btn-primary" type="submit" id="loginB" value="Login">
            </form>
        </div>

        <div class="col">
            <h1>Register</h1>
            <form id="register" action="/login/register" method="POST">
                <div class="col-xl-3">
                    <label for="ruserName">Username:</label><br>
                    <input type="text" id="ruserName" name="ruserName">
                </div><br>
            
                <div class="col-xl-3">
                    <label for="rpassword">Password:</label><br>
                    <input type="password" id="rpassword" name="rpassword">
                </div><br>

                <div class="col-xl-3">
                    <label for="rpasswordagain">Password again:</label><br>
                    <input type="password" id="rpasswordagain" name="rpasswordagain">
                    <% if (match === 'fail') { %>
                     <div>Passwords must match!</div>
                    <% } %>
                </div><br>

                <input role="button" class="btn btn-primary" type="submit" id="registerB" value="Register">
            </form><br>
            <% if (register === 'fail') { %>
             <div class="col alert alert-danger">Incomplete registration!</div>
            <% } %>
            <% if (register === 'ok') { %>
              <div class="col alert alert-success">Registration is complete!</div>
            <% } %>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>