<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Form</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <script src="/index.js"></script>
        <link rel="stylesheet" href="/style.css" type="text/css">
    </head>

    <body class="m-4">
        <div class="position-absolute top-0 end-0">
            <% if (user !== 'You are not logged in') { %>
            <div id="linuser"><%= user %> </div>
            <% } %>
        </div><br>

        <nav class="nav nav-pills nav-fill">
            <a href="/home" class="nav-link">Home</a>
            <a href="/" class="nav-link">All trains</a>
            <a href="/myreservations" class="nav-link active">My reservations</a>
            <% if (admin === 1) { %>
                <a href="/admin" class="nav-link">New train</a>
            <% } else { %>
                <a href="/admin" class="nav-link disabled" tabindex="-1" aria-disabled="true">New train</a>
            <% } %>
            <% if (user !== 'You are not logged in') { %>
                <a class="btn btn-outline-secondary btn-sm" href="/logout" role="button">Logout <i class="bi bi-box-arrow-right"></i></a><br>
            <% }  else { %>
                <a class="btn btn-outline-secondary btn-sm" href="/login" role="button"><i class="bi bi-box-arrow-in-right"></i> Login</a><br>
            <% } %>
        </nav><br>

        <div class="row row-cols-1 row-cols-md-2 g-4">
        <% reser.forEach((res) => { %>
            <% if (res.userName === user) { %>
            <div class="col">
            <div class="card">
                <div class="card-header">Reservation</div>

                <div class="card-body">
                    <h5 class="card-title"><%= res.source %> - <%= res.destination %> </h5>
                    <div class="card-text">Departure time: <%= res.day %>, <%= res.time %>  </div>
                    <div id="reservation<%= res.reservationId %>">On name: <%= res.userName %></div>
                    <button type="button" class="btn btn-secondary btn-sm" id="del<%= res.reservationId %>" onclick="deleteRes(`<%= res.reservationId %>`)">Delete</button><br>
                </div>
            </div>
            </div>
            <% } %>
        <% }) %>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>