<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Járatok</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="/index.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/style.css" type="text/css">
  </head>

  <body class="m-4">
    <div class="position-absolute top-0 end-0">
      <% if (user !== 'You are not logged in') { %>
      <div id="linuser"><%= user %> </div>
      <% } %>
    </div><br>

    <nav class="nav nav-pills nav-fill">
      <a href="/home" class="nav-link">Home</a>
      <a href="/" class="nav-link active">All trains</a>
      <a href="/myreservations" class="nav-link">My reservations</a>
      <% if (admin === 1) { %>
        <a href="/admin" class="nav-link">New train</a>
      <% } else { %>
        <a href="/admin" class="nav-link disabled" tabindex="-1" aria-disabled="true">New train</a>
      <% } %>
      <% if (user !== 'You are not logged in') { %>
        <a class="btn btn-outline-secondary btn-sm" href="/logout" role="button">Logout <i class="bi bi-box-arrow-right"></i></a><br>
      <% }  else { %>
        <a class="btn btn-outline-secondary btn-sm" href="/login" role="button"><i class="bi bi-box-arrow-in-right"></i> Login</a><br>
      <% } %>
  </nav><br>

    <form id="form" action="/submit" method="GET">
      <div class="col-xl-3">
        <label class="form-label" for="from">From:</label>
        <input class="form-control" type="text" id="source" name="source" pattern="^[A-Z][a-z]+">
      </div><br>

      <div class="col-xl-3">
        <label class="form-label" for="to">To:</label>
        <input class="form-control" type="text" id="destination" name="destination" pattern="^[A-Z][a-z]+">
      </div><br>

      <div class="row">
        <div class="col-xl-1">
          <div>Price:</div>
          <input class="form-control" type="number" id="minprice" name="minprice" min="0" placeholder="Min" aria-label="Min">
        </div>
  
        <div class="col-xl-1">
          <br><input class="form-control" type="number" id="maxprice" name="maxprice" min="1" placeholder="Max" aria-label="Max">
        </div>
      </div><br>
    
      <input role="button" class="btn btn-primary" type="submit" id="submitB" value="Search">
    </form><br>

    <h1>Trains</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <% items.forEach((item) => { %>
        <div class="col">
          <div class="card" style="width: 25rem;">
            <div class="card-header">Train <%= item.trainId %></div>
    
            <div class="card-body">
              <h5 class="card-title"><%= item.source %> - <%= item.destination %></h5>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Departure day: <%= item.day %></li>
                <li class="list-group-item">Departure time: <%= item.time %></li>
                <li class="list-group-item">Train type: <%= item.type %></li>
                <li class="list-group-item">Seats: <%= item.size %></li>
                <li class="list-group-item" id="price<%= item.trainId %>" hidden>Price: <%= item.price %> </li>
                <li class="list-group-item" id="error<%= item.trainId %>"></li>
              </ul>
    
              <button type="button" class="btn btn-secondary btn-sm" id="bt<%= item.trainId %>" onclick="getPrice(`<%= item.trainId %>`)">Show price</button>
              <a role="button" class="btn btn-primary btn-sm" href=<%= "/reservation?trainId=" + item.trainId %> >Reserve this</a>
            </div>
          </div>
        </div>
      <% }) %>
    </div>

    <% if (items.length === 0) { %>
    <div>No trains found</div>
    <% } %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>